Joins the centrality and hub scores to the rolling activity csv

In [1]:
import pandas as pd

Have to change spreadsheet to "lek" column becomes "lek_id"

Max dispersal

In [6]:
# Read the CSV files
# CSV with ids, northings, eastings, centrality, hub scores
lek_scores = pd.read_csv("E:/!!Research/!!!Data/graph_analysis/igraph_metrics_data/all_leks_metrics/max_dispersal_metrics.csv")
# Spreadsheet with yearly lek info
yearly_lek_data = pd.read_csv("E:/!!Research/!!!Data/graph_analysis/lek_data/lek_data_binary_rolling_activity.csv")

# Join the dataframes based on a common identifier
# Assuming the common column is 'id' in both dataframes
merged_data = yearly_lek_data.merge(lek_scores[['lek_id', 'y_northing', 'x_easting', 'centrality_score', 'hub_score']], 
                                     on='lek_id', 
                                     how='left')

merged_data.to_csv("E:/!!Research/!!!Data/graph_analysis/igraph_metrics_data/all_leks_metrics/max_dispersal_metrics_joined.csv")
merged_data.tail()

,Unnamed: 0,lek_id,year,x_easting_x,y_northing_x,activity,active_last_5_years,y_northing_y,x_easting_y,centrality_score,hub_score
26683,26587,99999,2014,649863,3714293,FALSE,TRUE,3714293,649863,46.446853,0.987174
26684,26588,99999,2015,649863,3714293,not surveyed,TRUE,3714293,649863,46.446853,0.987174
26685,26589,99999,2016,649863,3714293,not surveyed,TRUE,3714293,649863,46.446853,0.987174
26686,26590,99999,2017,649863,3714293,not surveyed,Inactive or not surveyed,3714293,649863,46.446853,0.987174
26687,26591,99999,2018,649863,3714293,not surveyed,Inactive or not surveyed,3714293,649863,46.446853,0.987174

Threshold distance 4800 m

In [9]:
# Read the CSV files
# CSV with ids, northings, eastings, centrality, hub scores
lek_scores = pd.read_csv("E:/!!Research/!!!Data/graph_analysis/igraph_metrics_data/all_leks_metrics/thresh48_all_metrics.csv")
# Spreadsheet with yearly lek info
yearly_lek_data = pd.read_csv("E:/!!Research/!!!Data/graph_analysis/lek_data/lek_data_binary_rolling_activity.csv")

# Join the dataframes based on a common identifier
# Assuming the common column is 'id' in both dataframes
merged_data = yearly_lek_data.merge(lek_scores[['lek_id', 'y_northing', 'x_easting', 'centrality_score', 'hub_score']], 
                                     on='lek_id', 
                                     how='left')

merged_data.to_csv("E:/!!Research/!!!Data/graph_analysis/igraph_metrics_data/all_leks_metrics/thresh48_metrics_joined.csv")
merged_data.tail()

,Unnamed: 0,lek_id,year,x_easting_x,y_northing_x,activity,active_last_5_years,y_northing_y,x_easting_y,centrality_score,hub_score
26683,26587,99999,2014,649863,3714293,FALSE,TRUE,3714293,649863,0.0,0.0009
26684,26588,99999,2015,649863,3714293,not surveyed,TRUE,3714293,649863,0.0,0.0009
26685,26589,99999,2016,649863,3714293,not surveyed,TRUE,3714293,649863,0.0,0.0009
26686,26590,99999,2017,649863,3714293,not surveyed,Inactive or not surveyed,3714293,649863,0.0,0.0009
26687,26591,99999,2018,649863,3714293,not surveyed,Inactive or not surveyed,3714293,649863,0.0,0.0009